@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.wrapper {
    min-height: 100vh;
    background: url('../public/bg.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .card {
    /* height: 600px; */
    width: 600px; 
    background: rgba( 255, 255, 255, 0.25);
    backdrop-filter: blur( 10px );
    border-radius: 30px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    padding: 60px;
    display: flex;
    gap: 50px;
    box-shadow: rgba(0, 0, 0, 0.162) 0px 25px 20px -20px;
    transform-style: preserve-3d;
}

.card .main-content, .card .secondary-content {
    transform: translateZ(20px)
}

.card .main-content .date {
    font-size: 25px;
    font-weight: 300;
}

.card .main-content .coords {
    color: rgb(218, 18, 81);
}

.card .main-content h1 {
    font-weight: 800;
}

.card .main-content .region {
    font-weight: 400;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
}

.card .main-content .temperature {
    font-size: 80px;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.753);
}

.card .secondary-content {
    font-size: 18px;
    font-weight: 300;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card .secondary-content img {
    margin-top: 50px;
    width: 100px;
    /* animation: pulse 1.5s ease infinite; */
}

@keyframes pulse {
    0% {
        transform: scale3d(1.4, 1.4, 1.4);
    }
    50% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    100% {
        transform: scale3d(1.2, 1.2, 1.2);
    }
}

i {
    color: rgba(0, 0, 0, 0.454);
}

@media(max-width:640px) {
    .wrapper {
        padding: 20px;
    }
    .card {
        flex-direction: column;
        width: 100%;
    }
    .card .secondary-content {
        justify-content: start;
        align-items: start;
    }
}